<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <title><%= title() %></title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/2288579c21.js" crossorigin="anonymous"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9MMXZ3PPRV"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-9MMXZ3PPRV');
	</script>

    <style>
      #arma-divider {
        background-image: linear-gradient(to right, #e2a750 , hsla(120,100%,50%,0),hsla(120,100%,50%,0));
      }

      .arma-bg {
        background-image: url("{static_path(@conn, "/images/bg_map.webp")}");
      }

      .carousel-open:checked + .carousel-item {
				position: static;
				opacity: 100;
			}
			.carousel-item {
				-webkit-transition: opacity 0.6s ease-out;
				transition: opacity 0.6s ease-out;
			}
			#carousel-1:checked ~ .control-1,
			#carousel-2:checked ~ .control-2,
			#carousel-3:checked ~ .control-3 {
				display: block;
			}
			.carousel-indicators {
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 2%;
				left: 0;
				right: 0;
				text-align: center;
				z-index: 10;
			}
			#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
			#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
			#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
				color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */
			}
    </style>
  </head>
  <body class="container mx-auto" style="font-family: 'Roboto', sans-serif; background-image: url('/images/bg_map.webp'); background-attachment: fixed; background-size: cover;">
      <%= @inner_content %>

	  <!-- This example requires Tailwind CSS v2.0+ -->
	<footer class="bg-arma-black rounded-lg">
		<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
			<div class="flex justify-center space-x-6 md:order-2">

			<a href="https://twitter.com/nodrog10611" class="text-2xl text-white hover:text-gray-300 fa-brands fa-twitter"></a>

			<a href="https://github.com/nodrog1061" class="text-2xl text-white hover:text-gray-300 fa-brands fa-github"></a>

			</div>
			<div class="mt-8 md:mt-0 md:order-1">
			<p class="text-center text-base text-white">&copy; 2022 Æ Software & Bohemia Interactive, All rights reserved.</p>
			</div>
		</div>
	</footer>
  </body>
</html>
