<input class="carousel-open hidden" type="radio" id={"carousel-"<>@item_number} name="carousel" aria-hidden="true" checked="checked">
    <img src="https://ar-gcp-cdn.bistudio.com/image/b678/cef486797ba23d896e2f38c61b8267b9.jpg" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full carousel-item  object-center object-fill absolute opacity-0">
<label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-arma-orange hover:text-white rounded-full bg-arma-black hover:bg-arma-green leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
<label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-arma-orange hover:text-white rounded-full bg-arma-black hover:bg-arma-green leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>